<!--
@author: Lena Al Shehmany

-->

<!--?xml version="1.0" encoding="UTF-8"?-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhmtl11/DTD/xhtml11.dtd">
<!-- XML/XHTML boilerplate code -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    {%block head%}
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    {% endblock%}
  </head>

  {%block content%} {% endblock%}

  <body>
    <!-- most of content follows the body tag -->

    <p>{%block more%} {%endblock%}</p>

    <!--Back to top button-->
    <div id="backTop">
      <a href="#top">&uArr;</a>
    </div>

    <br />
    <br />
    <br />
    <hr style="color: black" />
    <footer>
      <div>
        Authors: Lena, Yasmin, Jovic, Jacob, Henok, Mishal, and Michael
        <br />
        COMP 3220 Uwindsor 2024
      </div>
    </footer>

    <!-- these must be the last two lines of an HTML document -->
  </body>
</html>
