

body, header, head, h1, h2, h3, h4{
    margin:0;
    padding:0;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: #e1f3ff;
    font-weight: 300;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

header{
    background-image: url(images/Windsor.jpg);
    background-position: 50% 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom:160px;
}

h2{
    color:#ffffff;
    font-size: 40px;
    padding-top:50px;
    padding-bottom: 20px;
}
 
header div form label{
    color: #ffffff;
    -webkit-text-stroke: 1px #000000;
    font-weight:bold;
    font-size: 25px;
    margin-bottom:20px;
}
 
header div{
    padding-left:150px;
}
 
header div form button{
    color:#fffefe;
    background-color: #3e82ff;
    border-color: #3e82ff;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    padding:10px;
    margin-left:15px;
}


header div form input{
    width:1000px;
    height:35px;
    font-size: larger;
}
 
#topbar ul li{
    display:inline;
    list-style: none;
}
 
#topbar ul li a{
    color:#ffffff;
    -webkit-text-stroke: 0px #000000;
    background-color: #c7992dd6;
    text-decoration: none;
    font-weight: 600;
    padding:15px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7992dd6;
    font-size: 18px;
 
}
 
#topbar{
    padding-left:90px;
    text-align: left;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 125px;
    background-position-x: left;
    background-position-y:40px;
    padding-top:30px;
}

form{
    padding-top:50px;
}

#backTop a{
    border-style: solid;
    border-width: 2px;
    border-color: #3e82ff;
    border-radius: 25px;
    padding-top:8.5px;
    padding-bottom: 8.5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #3e82ff;
    color:#000000;
    text-decoration: none;
    position:fixed;
    bottom: 5%;
    right:2%;
}

#backTop a::after{
    text-decoration: none;
    color:green;
}

#previous a{
    border-style: solid;
    border-width: 2px;
    border-color: #3e82ff;
    border-radius: 25px;
    padding-top:8.5px;
    padding-bottom: 8.5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #3e82ff;
    color:#000000;
    text-decoration: none;
    position:fixed;
    top: 5%;
    left:2%;
}

footer {
    margin-top: auto; 
    background-color: #1D5D9B;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
