<!--
@author: Lena Al Shehmany, Henok

-->

{% extends 'base.html' %} {%block head%}
<title>Fire</title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
{%endblock%} {%block content%} {%endblock%} {%block more%}
<div class="content-container">  
        <h1>Fire Stations</h1>
        <div id="previous">
            <a href="{{ url_for('index')}}">&lArr;</a> </div>
            {% for element in fire %}
            <div class="container">
                <h3>{{ element['id'] }} {{ element['names'] }}</h3>
                <p>{{ element['street']}}</p>
                <a href="/map?type=centre&id={{ element['id'] }}">View on Map</a> 
            </div>
        {% endfor %} 
    </div> 
{% endblock %} 

