<!--
@author: Lena Al Shehmany

-->

{% extends 'base.html' %} {%block head%}
<title>3220 Project Phase</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{%endblock%} {% block content %}
<header>
  <!--Navigation bar displayed horizontally at top of page-->
  <nav id="topbar">
    <ul>
      <li><a href="{{ url_for('parks')}}">Parks</a></li>
      <li><a href="{{ url_for('arenas')}}">Transit Bus Routes</a></li>
      <li>
        <a href="{{ url_for('arenas')}}">Garbage & Recycling Collection</a>
      </li>
      <li><a href="{{ url_for('centres')}}">Community Centers</a></li>
      <li><a href="{{ url_for('hospitals')}}">Hospitals</a></li>
      <li><a href="{{ url_for('fire')}}">Fire Stations</a></li>
      <li><a href="{{ url_for('arenas')}}">Arenas</a></li>
      <li><a href="{{ url_for('libraries')}}">Libraries</a></li>
    </ul>
  </nav>
  <div>
    <h2>Welcome to the City of Windsor</h2>

    <!--Form to enter postal code and receive above listed data closest to entered location-->
    <form action="#" method="post">
      <label for="postalCode">Enter Postal Code to Find What's Near You!</label>
      <br /><br />
      <input
        type="text"
        id="postalCode"
        name="postalCode"
        pattern="[A-Za-z]\d[A-Za-z] \d[A-Za-z]\d"
        required
        title="Enter a valid postal code in the format 'ANA NAN'"
      />
      <button type="submit">Submit</button>
    </form>
  </div>
</header>

{% endblock %} {%block more%}

<!-- most of content follows the body tag -->

<img
  src="static/images/logo.png"
  alt="The City of Windsor, Ontario, Canada"
  height="183px"
  width="1000px"
/>

<!--Back to top button-->
<div id="backTop">
  <a href="#top">&uArr;</a>
</div>

{% endblock %}
